@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: auto; /* Disable default smooth scroll to let Lenis handle it */
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scroll */
}

/* .inter {
  font-family: "Inter", sans-serif;
} */

html {
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scroll */
  scroll-behavior: auto; /* Disable default smooth scroll to let Lenis handle it */
}

/* body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
} */

a {
  text-decoration: none;
}

::selection {
  background-color: black;
  color: #ffffff;
}



.roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}